body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 50% auto;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center bottom;
}

[data-md-color-scheme="slate"] body::before,
body[data-md-color-scheme="slate"]::before,
html[data-md-color-scheme="slate"] body::before,
.md-toggle[data-md-state="primary"] ~ * body::before {
    background-color: black !important;
    background-image: url('../img/background-dark.png');
    opacity: 0.2 !important;
}

body::before {
    background-color: white;
    background-image: url('../img/background-light.png');
    opacity: 0.3;
}